
#section-home{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content:center;

}


.input{
    width: 180px;
    height: 30px;
    border-radius:8px;
    position: relative;
    top: 10px;
    left: 10px;
    color: #060606;
    background: transparent;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.99);
    backdrop-filter: blur(15px);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: solid grey;
}

.input:hover{
    background: #100f0fa8;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.99);
    color: white;
    transform: scale(1.1);
    border: solid rgba(255, 254, 254, 0.807);

}