@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full;
  font-family: 'Lexend Deca', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-animation {
  animation: spin 2s linear infinite;
}
