#conteiner-nav{
    height: 50px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:solid;
    align-items: center;
    gap: 90px;

}
.input-nav{
    width: 150px;
    height: 30px;
    border-radius:8px;
    color: #ffffff;
    text-align: center;
    color: #060606;
    background: transparent;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.99);
    backdrop-filter: blur(15px);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: solid gray;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.91);

}

.input-nav:hover{
    background: #100f0fa8;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.99);
    color: white;
    transform: scale(1.1);
    border: solid rgba(255, 254, 254, 0.807);
    box-shadow: 0px 0px 0px 0px rgba(247, 245, 245, 0.91);

}



/* CSS SEARCH */

.search-conteiner{
   
    
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    background:rgba(255, 255, 255, 0.656);
    border: solid rgb(255, 255, 255);

}

.search-conteiner:hover{
    background: #bdc1c271;

}
.buscarInput{
    height: 35px;
    width: 250px;
    font-weight:bold;
    border: 0;
    border-radius: 15px 0 0 15px;
    text-align: center;
    background: transparent;
    justify-content: left; 
   
}

.buscarClick{
    height: 30px;
    font-weight:bold;
    border: 0;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    background:transparent;
    margin-bottom: -20rem; 
    justify-content: center;
    align-items: center;
    
 

}
.buscarClick:hover{
    transform: rotateY(10deg)}
